footer.relative
  .container
    .px-4     
      .grid.grid-cols-12.items-center.py-6
        .col-span-10
          .line.left
        .col-span-2
          a(href="#body").go-scroll.ml-auto.block 
            img(src=`${root}/images/icon/bi-arrow-up.svg`, alt="scroll up")
      .pb-8.border-b.border-slate-500(class="lg:pb-18 lg:grid lg:grid-cols-3 lg:items-center")
        .col-span-1(class="lg:pr-20")
          .logo.w-24(class="sm:w-28  md:w-32")
            img.inline-block.w-full(src=`${root}/images/logo.svg`, alt=i18n.website.title)
          p.my-8=i18n.footer.slogan
        div(class="md:grid md:grid-cols-2 md:col-span-2 md:divide-x md:divide-slate-500")
          .text-center.py-8
            p.my-4=i18n.footer.phone.title
            a(href=`tel:${i18n.footer.phone.info[1]}` class="hover:text-slate-600").duration-300.text-4xl.font-bold
              span.text-xl=i18n.footer.phone.info[0]
              | #{i18n.footer.phone.info[1]}
          .text-center.py-8
            p.my-4=i18n.footer.email.title
            +buttonBorder({
              "link": "mailto:info@blessvo.com",
              "icon": `${root}/images/icon/bi-envelope.svg`,
              "content": i18n.footer.email.info,
              "classList": "border border-slate-500 after:bg-white/[0.7] hover:after:w-full text-xl",
            })
      .text-center.my-8(class="md:flex md:justify-between md:text-left")
        p.text-slate-600 Copyright © #{year} #{i18n.footer.copyright}.All Right Reserved.
        .divide-x.divide-slate-500.py-4(class="md:py-0")
          each val in i18n.footer.nav
            a.px-4.duration-300(href=`${BASE_URL}${val.link}` class="hover:opacity-70" target="_blank")
              | #{val.name}
              img.ml-2.inline-block(class="mb-2" src=`${root}/images/icon/bi-box-arrow-up-right.svg`, alt=val.name)
