meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content=i18n.website.description)
meta(hid="og:title", property="og:title", content=i18n.website.title)
meta(hid="og:description", property="og:description", content=i18n.website.description)
meta(property="og:site_name", content=i18n.website.title)
meta(property="og:locale", content=i18n.website.lang)
link(rel='apple-touch-icon' sizes='180x180' href=`${root}/images/apple-touch-icon.jpg`)
link(rel='icon' type='image/png' sizes='32x32' href=`${root}/images/favicon-32x32.jpg`)
link(rel='icon' type='image/png' sizes='16x16' href=`${root}/images/favicon-16x16.jpg`)
link(rel='manifest' href=`${root}/images/site.webmanifest`)
title=i18n.website.title