mixin language(flag)
  .language.relative.z-10(class=classList)
    //- 選擇語系按鈕
    .language-button.flex.content-center.rounded-full.bg-white.px-6.py-2.cursor-pointer.leading-6.ease-in-out.duration-400(class="text-base hover:drop-shadow-lg")
      img.inline-block.mr-2(src=flag, alt=i18n.website.title)
      .flex(class="sm:divide-x")
        each item, index in i18n.website.language
          - var attributes = {};
          if index === 0
            - attributes.class = 'hidden sm:block'
          span(class="sm:px-2")&attributes(attributes)=item
    //- 選擇語系清單
    .language-list.list.absolute.top-0.right-0.bg-white.py-2.translate-y-12.drop-shadow-lg(class="w-[300px]" data-state="false")
      each val in i18n.website.languageList
        .flex.content-center.py-4.px-6(class="hover:bg-[#EBEBEB]")
          img.inline-block.mr-2(src=val.icon, alt=val.country)
          p.m-0.border-r.pr-2=val.country
          each item in val.langs
            - var attributes = {};
            if item.state
              - attributes.class = 'cursor-pointer'
              a(href=item.link)&attributes(attributes).inline-block.no-underline.text-black.px-3=item.lang
            else
              - attributes.class = 'cursor-default opacity-50'
              - attributes['data-tippy-content'] ='COMING SOON'
              p&attributes(attributes)(tabindex="0").inline-block.no-underline.text-black.px-3=item.lang
    