.navbar.fixed.top-0.left-0.w-full.py-4.z-20.px-4(class="md:py-8")
  .container.flex.justify-between.items-center
    //- logo
    a.logo.w-24(href=`${BASE_URL}/` class="sm:w-28  md:w-32")
      img.inline-block.w-full(src=`${root}/images/logo.svg`, alt=i18n.website.title)
    //- 導覽列清單
    .flex.items-center
      nav.px-3.hidden(class="lg:block")
        ul.flex.items-center
          each item in i18n.website.nav  
            li
              a.px-3(href=`${BASE_URL}/#${item.id}`)=item.name
      //- 語系按鈕
      +language(i18n.website.flag)