extends layout-default

block content
  - var i18n = importI18nJSON(LANG)
  - var root = rootPath()
  .banner
    .container
      .px-4
        .grid.grid-cols-12.justify-items-center(class="md:justify-items-start")
          h1.col-span-12.py-4.relative(class="sm:pt-24 sm:col-start-3 sm:col-span-9")
            each val, index in i18n.slogan
              - var attributes = {};
              if index === 1
                - attributes.class = 'text-4xl sm:text-6xl lg:text-8xl !leading-tight'
              else if index === 3
                - attributes.class = 'text-2xl sm:text-4xl lg:text-6xl block pl-24 lg:pl-48 !leading-tight'
              else 
                - attributes.class = 'text-2xl sm:text-4xl lg:text-6xl !leading-tight'
              span&attributes(attributes)=val
          .banner-background.col-span-12.col-start-3.w-full.relative.mt-28(class="h-[48vw]")
  .introduce.relative
    .container
      .px-4
        .grid.grid-cols-12.items-center.py-12
          .col-span-2
            a(href="#advantage").go-scroll.block 
              img(src=`${root}/images/icon/bi-arrow-down.svg`, alt="scroll down")
          .col-span-10
            .line
        .grid.grid-cols-12.pb-12
          div.col-span-7.col-start-3.col-end-13(class="sm:col-start-6")
            each val in i18n.introduce
              p.text-base.pb-3(class="sm:text-xl md:text-2xl !leading-relaxed")=val
        .flex.mb-12.justify-end
          +buttonIcon({
            "content": i18n.plan.button,
            "link": "mailto:info@blessvo.com",
            "icon": `${root}/images/icon/bi-arrow-right.svg`
          })
    .grid.grid-cols-12.items-center.py-12
      .col-span-10
          .line
          
  #advantage.advantage.pt-20
    .container
      .px-4
        .grid.grid-cols-12
          .col-start-2.col-span-12
            h2.text-3xl.mb-8(class="md:text-5xl")=i18n.advantage.title[0]
              span.text-slate-500=i18n.advantage.title[1]
            p.text-base(class="md:text-xl")=i18n.advantage.info
        .grid.grid-cols-12.grid-rows-4(class="md:grid-rows-3 mt-12 md:-mt-20 xl:-mt-36")
          each val, index in i18n.advantage.items
            - var attributes = {};
            if index === 0
              - attributes.class = 'col-start-5 col-end-9 justify-self-center  md:translate-y-[35%] xl:translate-y-[45%] ' 
            else if index === 1
              - attributes.class = '-mt-6 col-start-5 col-end-9 md:col-start-2 md:col-end-6 row-start-2 row-end-3 justify-self-center md:justify-self-end' 
            else if index === 2
              - attributes.class = '-mt-12 col-start-5 col-end-9 md:col-start-8 md:col-end-12 row-start-3 row-end-4 md:row-start-2 md:row-end-3 justify-self-center' 
            else if index === 3
              - attributes.class = '-mt-20 col-start-5 col-end-9 row-start-4 row-end-5 md:row-start-3 md:row-end-4 justify-self-center md:-translate-y-[35%] xl:-translate-y-[45%] ' 
            .text-center.flex.justify-center.items-center.rounded-full.border-slate-500.border(class="w-[350px] h-[350px] xl:w-[450px] xl:h-[450px] bg-white/[0.5]")&attributes(attributes)
              div
                .pb-2(class="text-3xl md:text-[38px] xl:text-[42px]")=val.slogan
                .text-xl.text-slate-500(class="md:text-2xl pb-8 xl:pb-14")=val.title
                p.mx-auto(class="w-3/4")=val.info
                
  #plan.plan.relative.pt-20(class="-mt-20")
    .container
      .px-4
        .text-center 
          h2.text-3xl.mb-8(class="md:text-5xl")=i18n.plan.title[0]
            span.text-slate-500=i18n.plan.title[1]
          p.text-base.mt-12(class="md:text-xl")=i18n.plan.info
          .inline-flex.rounded-full.bg-slate-300.items-center.px-6.py-4.my-12
            span.pr-4 選擇據點：
            +language(i18n.website.flag)
    .swiper.plan-swiper(class="!pb-8")
      .swiper-wrapper
        each val in i18n.plan.items
          .swiper-slide.plan-card.rounded-2xl.bg-white.drop-shadow-lg.p-8.overflow-hidden(class=val.hot ? 'hot': '')
            .plan-top.relative.text-center.pb-8.mb-5
              h3.text-3xl.pb-2.font-medium=val.title
              p.pb-4=val['sub-title']
              h4.text-4xl.font-semibold
                span.text-lg.pr-1=i18n.plan.unit
                | #{val.price}
              p.text-lg=i18n.plan.time
              p.text-rose-500.line-through #{i18n.plan.unit}#{val['original-price']}/#{i18n.plan.time}
            - var attributes = {};
            if val.hot
              - attributes.class = 'bg-rose-500 text-white after:bg-rose-300 hover:after:w-full hover:bg-rose-400 ease-in duration-300'
            else 
              - attributes.class = 'border border-rose-500 text-rose-500 hover:bg-rose-500 hover:text-white ease-in duration-300'
            +buttonBorder({
              "link": "mailto:info@blessvo.com",
              "content": i18n.plan.button,
              "classList": attributes.class + ' w-full !px-2 mb-4',
            })
            .plan-list
              each item in val.list
                .pb-2.text-left.flex
                  svg.bi.bi-check-lg.mr-2.flex-none(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewbox='0 0 16 16')
                    path(d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z')
                  .flex-auto=item   
    
    
    .flex.mt-12.mb-40.justify-center
      +buttonIcon({
        "content": i18n.plan.compare.button,
        "link": "mailto:info@blessvo.com",
        "icon": `${root}/images/icon/bi-arrow-right.svg`
      })
    img.plan-background(src=`${root}/images/plan-background.png`, alt="")
  
  #service.service.pt-20(class="-mt-20")
    .container
      .px-4
        each val in i18n.service
          .service-item.mb-20(class="md:grid md:grid-cols-12 bg-white/[0.4]")
            .p-6(class="md:p-12 xl:p-24 md:col-span-8")
              h2.text-2xl.mb-8(class="md:text-3xl xl:text-5xl")=val.title
              .flex.mb-8
                each item, index in val.swiperList
                  - var attributes = {};
                  if index === 0
                    - attributes.class = "active";
                  a.service-button.text-md.mr-4(class="md:text-xl" href="#" class=item.key)&attributes(attributes)=item.name
              .swiper.service-swiper
                .swiper-wrapper
                  each item in val.swiperList
                    .swiper-slide
                      if item.isArray
                        ul.list-disc.pl-6
                          each info in item.info
                            li.text-base(class="xl:text-xl text-black/[0.8] !leading-relaxed")=info
                      else
                        p.text-base.mb-8(class="xl:text-xl text-black/[0.8] !leading-relaxed")=item.info
                      if item.button
                        +buttonIcon({
                          "content": i18n.plan.button,
                          "link": "mailto:info@blessvo.com",
                          "icon": `${root}/images/icon/bi-arrow-right.svg`
                        })
            .row-span-2(class="md:col-start-9 md:col-span-4 md:row-span-1")
              img.w-full(src=val.image, alt="")
            
  .about
    .about-background.mt-20(class="md:mt-60")
    #about.container.pt-20(class="md:pt-60")
      .px-4
        div(class="md:grid md:grid-cols-2 md:grid-rows-2")
          .pb-24(class="sm:px-8 xl:px-20 md:col-start-1 md:row-start-1")
            h2.text-3xl.mb-8(class="md:text-5xl")=i18n.aboutUs.title[0]
              span.text-slate-500=i18n.aboutUs.title[1]
            p.text-base(class="xl:text-xl !leading-loose")=i18n.aboutUs.info
          .pb-24(class="sm:px-8 xl:px-20 md:col-start-2 md:row-start-2")
            h2.text-3xl.mb-8(class="md:text-5xl")=i18n.aboutGroup.title[0]
              span.text-slate-500=i18n.aboutGroup.title[1]
            p.text-base(class="xl:text-xl !leading-loose")=i18n.aboutGroup.info
  
  #branch.branch.pt-20(class="-mt-20")
    .container
      .px-4(class="xl:px-20")
        h2.text-3xl.mb-24(class="md:text-5xl")=i18n.branch.title[0]
          span.text-slate-500=i18n.branch.title[1]
        .swiper.branch-swiper.mb-24
          .swiper-wrapper
            each val, index in i18n.branch.items
              - var attributes = {};
              - attributes.class = (index === 1 || index === 3) ? "mt-24" : '';
              .swiper-slide 
                .rounded-2xl.overflow-hidden.relative&attributes(attributes)
                  img.w-full(src=val.image, alt="")
                  .branch-info.p-8.absolute.top-0.left-0.w-full.h-full.text-white.flex.flex-col.justify-between
                    h3.text-3xl.pb-2.font-medium.drop-shadow-lg=val.title
                    p(class="!leading-normal")=val.info
          
  