extends layout-simple

block content
  - var i18n = importI18nJSON(LANG)
  .container
    .p-4
      .grid.grid-cols-12
        .col-span-12(class="xl:col-span-6 xl:col-start-4")
          if i18n.website.lang === "zh-TW"
            include policy/zh-tw.pug