@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .banner{
    @apply relative;
  }
  .banner::before{
    @apply content-[''] pt-[40%] w-3/4 absolute left-0 top-10 sm:top-40 lg:top-44 bg-auto bg-no-repeat bg-left-top z-[-1] bg-[url('../images/banner-background.png')];
  }
  .banner-background::after{
    @apply content-[''] pt-[100%] w-full sm:w-[calc((100vw-20px-(1rem*2)-640px)/2+640px/12*10)] md:w-[calc((100vw-20px-(1rem*2)-768px)/2+768px/12*10)] lg:w-[calc((100vw-20px-(1rem*2)-1024px)/2+1024px/12*10)] xl:w-[calc((100vw-20px-(1rem*2)-1280px)/2+1280px/12*10)] 2xl:w-[calc((100vw-20px-(1rem*2)-1536px)/2+1536px/12*10)] absolute left-0 top-0 bg-contain bg-no-repeat bg-left-top z-[-1] bg-[url('../images/banner.jpg')];
  }
  .go-scroll{
    @apply relative w-2/3 sm:w-1/2 pt-[67%] sm:pt-[50%];
  }
  .go-scroll::before{
    @apply content-[''] w-full absolute left-0 top-0 pt-[100%] rounded-full border border-black/[.6];
  }
  .go-scroll img{
    @apply w-1/2 md:w-1/4 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2;
  }
  .line{
    @apply relative h-[0.5px] w-full bg-black/[.6];
  }
  .line::after{
    @apply content-[''] h-[0.5px] absolute right-0 top-0 bg-black/[.6] translate-x-full sm:w-[calc((100vw-20px-(1rem*2)-640px)/2)] md:w-[calc((100vw-20px-(1rem*2)-768px)/2)] lg:w-[calc((100vw-20px-(1rem*2)-1024px)/2)] xl:w-[calc((100vw-20px-(1rem*2)-1280px)/2)] 2xl:w-[calc((100vw-20px-(1rem*2)-1536px)/2)];
  }
  .line.left::after{
    @apply left-0 -translate-x-full;
  }
  .introduce::before{
    @apply content-[''] pt-[20%] w-1/3 absolute left-0 bottom-28 bg-auto bg-no-repeat bg-left-top z-[-1] bg-[url('../images/banner-background.png')];
  }
  .plan-card.hot .plan-top::before{
    @apply content-[''] w-[400%] pt-[400%] z-[-1] rounded-full absolute left-1/2 bottom-0 -translate-x-1/2 bg-amber-200;
  }
  .plan-background {
    @apply content-[''] w-full z-[-1] absolute left-0 top-1/2 md:top-1/4;
  }
  .service-button{
    @apply text-black/[0.5];
  }
  .service-button.active {
    @apply text-black underline underline-offset-8 decoration-gray-400;
  }
  .about-background{
    @apply w-full pt-[30%] bg-fixed bg-no-repeat bg-center bg-[url('../images/about.jpg')] bg-cover;
  }
  .about .container {
    @apply relative;
  }
  .about .container::before {
    @apply md:content-[''] w-[30%] h-[1px] bg-black/[0.6] absolute left-1/2 top-[40%] -translate-y-1/2 -translate-x-1/2 -rotate-45;
  }
  
  .branch .swiper-slide>div::before{
    @apply content-[''] w-full h-full absolute left-0 top-0 bg-black/[0.6] opacity-0 ease-in-out duration-500;
  }
  .branch .swiper-slide>div:hover::before{
    @apply opacity-100;
  }
  .branch .swiper-slide .branch-info{
    @apply rounded-2xl border border-transparent ease-in-out duration-500;
  }
  .branch .swiper-slide:hover .branch-info{
    @apply border border-white p-4 w-[90%] h-[90%] m-[5%] mt-[6%];
  }
  
  .branch .swiper-slide p {
    @apply opacity-0 -translate-y-12 ease-in-out duration-500;
  }
  .branch .swiper-slide:hover p {
    @apply opacity-100 translate-y-0;
  }
  .btnIcon-animation{
    @apply overflow-hidden py-3 px-6 rounded-full bg-white inline-block;
  }
  .btnIcon-animation .icon{
    @apply w-[32px] h-[32px] relative;
  }
  .btnIcon-animation .icon::after{
    @apply content-[''] w-full h-full bg-black rounded-full ease-in-out duration-500 absolute left-0 top-0;
  }
  .btnIcon-animation p {
    @apply relative z-10 pr-12;
  }
  .btnIcon-animation:hover p {
    @apply text-white
  }
  .btnIcon-animation:hover .icon::after{
    @apply scale-[10] -left-4;
  }
  .btnIcon-animation .icon img {
    @apply mx-auto relative z-10 leading-[32px]
  }
  
  .btnBorder-animation {
    @apply py-3 px-6 rounded-full inline-block relative overflow-hidden;
  }
  .btnBorder-animation p {
    @apply pl-4;
  }
  .btnBorder-animation::after {
    @apply content-[''] w-0 h-0 rounded-full absolute left-1/2 top-1/2 ease-in duration-300 z-[-1] -translate-y-1/2 -translate-x-1/2;
  }
  .btnBorder-animation:hover::after {
    @apply pt-[100%];
  }
}
