@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components{
  .navbar {
    background: linear-gradient(to top, rgba(235,235,235, 0), #EBEBEB)
  }
  
  .language-list[data-state="false"] {
    @apply hidden;
  }
  
  .language-list[data-state="true"] {
    @apply block;
  }
  
  .language-list{
    @apply opacity-0 ease-in-out duration-300 translate-y-16;
  }
  
  .language-list.show{
    @apply opacity-100 translate-y-12;
  }
  
  nav a{
    @apply relative ease-in-out duration-300;
  }
  
  nav a::after{
    @apply content-[''] w-0 absolute -bottom-2 left-1/2 h-[1px] bg-black/[0.2] ease-in-out duration-300;
  }
  
  nav a:hover{
    @apply text-black/[0.6];
  }
  
  nav a:hover::after{
    @apply w-full left-0;
  }
}