@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Source+Sans+Pro:wght@400;600&display=swap');

@import "navbar";
@import "home";

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', 'Noto Sans TC', 'sans-serif';
  }
  body {
    @apply m-0 pt-[130px] bg-[#EBEBEB];
  }
}

