include ../includes/button.pug

h1.text-4xl.py-4.font-medium.text-center 服務條款
p.text-center
  small 生效日：2023年04月6日
p.pt-8.pb-2 
  | 本協議是由尼爾創新國際有限公司（以下簡稱“甲方”）和客戶（以下簡稱“乙方”）簽署的
  span.font-medium 基礎商務方案服務協議、國際化形象服務協議
  | （以下簡稱“服務”），以便客戶可以透過相關的虛擬辦公室服務進行公司管理。

h2.text-2xl.pt-8.pb-2.font-medium 基礎商務方案服務內容

ul.p-2.pl-4.list-outside
  li.py-1.flex.flex-wrap(class="before:content-['1.1'] before:pr-2") 
    | 服務包括：
    ul.p-2.pl-8.w-full(class="list-[lower-alpha]")
      li.py-1 提供一個正式的虛擬郵箱地址，可以用作乙方的通訊地址使用。
      li.py-1 接收、儲存和管理所有乙方的郵件和文件包裹。
      li.py-1 提供乙方要求的相關服務，例如將郵件轉發到指定地址、郵件傳遞等
      li.py-1 服務包括接收、掃描、轉發和通知乙方信件。乙方可以要求甲方將信件轉 	   發到指定的地址或電子郵件。
  li.py-1.flex(class="before:content-['1.2'] before:pr-2") 乙方同意支付服務費用，該費用根據乙方選擇的方案而定。
  li.py-1.flex(class="before:content-['1.3'] before:pr-2") 甲方有權根據需要隨時調整服務費用，但應提前通知乙方。
  li.py-1.flex(class="before:content-['1.4'] before:pr-2") 甲方同意遵守當地郵政法律法規。
  li.py-1.flex(class="before:content-['1.5'] before:pr-2") 甲方將信件寄送乙方指定地址，若因地址錯誤或其他非甲方所造成之原因導致無法送達，甲方將不負任何責任。

h2.text-2xl.pt-8.pb-2.font-medium 國際化形象服務內容

ul.p-2.pl-4.list-outside
  li.py-1.flex(class="before:content-['2.1'] before:pr-2") “國外據點”是指甲方在國外設置的郵件轉發據點，目前提供英國、泰國、日本等地服務
  li.py-1.flex(class="before:content-['2.2'] before:pr-2") 甲方將為乙方提供國外據點虛擬郵箱服務，包括收取乙方郵件並轉寄乙方指定之通訊地址。
  li.py-1.flex(class="before:content-['2.3'] before:pr-2") 甲方提供國外當地之商情資訊收集，此服務將依收集資訊範圍另外收費，收費方式與金額將依實際內容事先告知乙方。
  li.py-1.flex(class="before:content-['2.4'] before:pr-2") 乙方必須向甲方提供準確的聯繫信息，以便甲方能夠及時地與乙方聯繫。
  li.py-1.flex(class="before:content-['2.5'] before:pr-2") 甲方有權根據需要隨時調整服務費用，但應提前通知乙方。

h2.text-2xl.pt-8.pb-2.font-medium 服務期限

ul.p-2.pl-4.list-outside
  li.py-1.flex(class="before:content-['3.1'] before:pr-2") 本服務協議的期限為一年期間以365日計算為準，自簽署之日起生效
  li.py-1.flex(class="before:content-['3.2'] before:pr-2") 服務期限到期後，如果乙方和甲方均同意，可以繼續簽署新的協議。

h2.text-2xl.pt-8.pb-2.font-medium 隱私和安全

ul.p-2.pl-4.list-outside
  li.py-1.flex(class="before:content-['4.1'] before:pr-2") 甲方承諾保護乙方的隱私和安全，採取必要的技術和管理措施，防止乙方資料泄露、遺失、損毀或被未經授權的第三方訪問。
  li.py-1.flex(class="before:content-['4.2'] before:pr-2") 乙方同意甲方可以向乙方提供與服務有關的通訊和促銷資訊，但可以隨時選擇停止接收此類通訊。

h2.text-2xl.pt-8.pb-2.font-medium 保密

ul.p-2.pl-4.list-outside
  li.py-1.flex(class="before:content-['5.1'] before:pr-2") 甲方同意保密乙方的商業機密，不會向任何第三方披露乙方的機密信息，除非經乙方事先同意或根據法律要求。
  li.py-1.flex(class="before:content-['5.2'] before:pr-2") 乙方同意在簽署本協議前向甲方提供所有必要的信息，以便甲方能夠適當地履行服務職責。

h2.text-2xl.pt-8.pb-2.font-medium 責任和限制

ul.p-2.pl-4.list-outside
  li.py-1.flex(class="before:content-['6.1'] before:pr-2") 甲方會妥善管理乙方信件，但對信件的丟失、損壞或延遲不承擔責任，除非是由於甲方故意或重大過失導致的。
  li.py-1.flex(class="before:content-['6.2'] before:pr-2") 如果因為乙方未能提供正確的地址或未及時通知地址變更，而導致信件丟失、損壞或延遲，甲方將不承擔責任。
  li.py-1.flex(class="before:content-['6.3'] before:pr-2") 甲方僅提供信件代收轉寄服務，寄送過程中不承擔任何郵件遺失或郵件內容的責任。
  li.py-1.flex(class="before:content-['6.4'] before:pr-2") 如果因乙方的違反行為導致甲方受到任何索賠或損失，乙方應賠償甲方的全部損失。
  li.py-1.flex(class="before:content-['6.5'] before:pr-2") 甲方承諾為乙方提供專業的電話秘書服務，但不對因不可抗力、乙方疏忽等原因導致的任何損失負責。
  li.py-1.flex(class="before:content-['6.6'] before:pr-2") 乙方同意，甲方不對乙方因未能接聽某些電話而可能面臨的任何損失負責。

h2.text-2xl.pt-8.pb-2.font-medium 退費政策

ul.p-2.pl-4.list-outside
  li.py-1.flex(class="before:content-['7.1'] before:pr-2") 在租用虛擬辦公室後的7天內，可以申請全額退款，租用期間已經過去的天數則不予退款。
  li.py-1.flex(class="before:content-['7.2'] before:pr-2") 若乙方在合約期內提出終止服務的申請，甲方將在收到乙方申請之日起7個工作日內完成相關處理。
  li.py-1.flex(class="before:content-['7.3'] before:pr-2") 若乙方提出終止服務的申請，若乙方提出申請的時間於合約期限的一半以內，則退回50%的服務費用。若乙方提出申請的時間超過合約期限的一半以上，則不予退費
  li.py-1.flex(class="before:content-['7.4'] before:pr-2") 如因甲方原因導致乙方提前終止服務，甲方將全額退還乙方已支付的服務費用。
  li.py-1.flex(class="before:content-['7.5'] before:pr-2") 若乙方服務中，有服務保證金/押金產生，甲方將保留乙方的服務保證金/押金且不產生利息，以做為確保乙方根據合約履行所有義務之安全措施，若乙方的合約已終止且已結清帳戶後，甲方會在乙方發出退款要求後 30 日內，將服務保證金/押金或所有餘額退款給乙方。甲方會扣除所有未結費用與應付費用，然後再將其餘額退款給乙方。
  li.py-1.flex(class="before:content-['7.6'] before:pr-2") 若乙方享有甲方提供之特殊折扣、促銷或優惠活動等優惠，但發生實質違反協議之情事，則甲方將會終止上述優惠。
  li.py-1.flex(class="before:content-['7.7'] before:pr-2") 若有退款將以匯款方式退回至乙方指定之國內銀行賬戶，實際到帳日將依各銀行實際作業規定，惟退款過程中產生的手續費、銀行匯款費用等費用，可能需由乙方自行負擔。
  li.py-1.flex(class="before:content-['7.8'] before:pr-2") 如果租用期間內發生了不可抗力等情況，例如自然災害、政策法規變化等，可能需要協商處理，退款政策將根據具體情況而定。

h2.text-2xl.pt-8.pb-2.font-medium 爭議處理

ul.p-2.pl-4.list-outside
  li.py-1.flex(class="before:content-['8.1'] before:pr-2") 如果雙方在履行本協議過程中出現任何爭議，應儘可能通過友好協商解決。
  li.py-1.flex(class="before:content-['8.2'] before:pr-2") 如果友好協商不能解決爭議，雙方同意將爭議提交仲裁解決。
  li.py-1.flex(class="before:content-['8.3'] before:pr-2") 本協議的條款和條件均受法律保護，並受當地法律的約束。

