include ../includes/button.pug

h1.text-4xl.py-4.font-medium.text-center 隱私權政策
p.text-center
  small 生效日：2023年04月6日
p.pt-8.pb-2 感謝您使用我們的虛擬辦公室服務。我們尊重您的隱私權，並致力於保護您的個人信息。本隱私政策將告訴您我們收集、使用、共享和保護您的個人信息的方式。
h2.text-2xl.pt-8.pb-2.font-medium 信息的收集與使用
p.py-2 在您使用我們的服務時，我們可能會收集您的姓名、電話號碼、電子郵件地址、郵寄地址、信用卡信息等個人信息。我們僅會在必要的情況下收集您的個人信息，例如：
ul.list-disc.p-2.pl-8
  li.py-1 您在註冊時提供的信息
  li.py-1 您提交問題或投訴時提供的信息
  li.py-1 您參加我們的活動或促銷時提供的信息
  li.py-1 您參加我們的客戶調查時提供的信息
  li.py-1 您與我們聯繫時提供的其他信息
h2.text-2xl.pt-8.pb-2.font-medium 信息的共享
p.py-2 我們不會出售或租用您的個人信息給任何第三方。但在下列情況下，我們可能會與第三方共享您的個人信息：
ul.list-disc.p-2.pl-8
  li.py-1 當法律、法規、法律程序要求或政府機構要求時
  li.py-1 為了保護我們的權利、財產或安全，以及其他客戶或社會公眾的權利、財產或安全
  li.py-1 在參加促銷、營銷活動時，可能需要與贊助商或其他第三方共享您的個人信息
h2.text-2xl.pt-8.pb-2.font-medium 信息的保護
p.py-2
  | 我們會採取各種物理、電子和管理上的措施來保護您的個人信息，以防止未經授權的訪問、使用、披露、更改或破壞。我們將採取合理的步驟確保我們處理的個人信息的準確性、完整性和及時性。
h2.text-2xl.pt-8.pb-2.font-medium 對隱私政策的修改
p.py-2 我們可能會不時修改本隱私政策。如果我們對本隱私政策進行了重大更改，我們會在網站上發佈通知。
h2.text-2xl.pt-8.pb-2.font-medium 聯繫我們
p.py-2 如果您對我們的隱私政策有任何疑問或關注，請通過以下方式與我們聯繫：
+buttonBorder({
  "link": "mailto:info@blessvo.com",
  "icon": `${root}/images/icon/bi-envelope.svg`,
  "content": i18n.footer.email.info,
  "classList": "border border-slate-500 after:bg-white/[0.7] hover:after:w-full text-xl",
})
